<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Henry's Portfolio</title>
        <link rel="stylesheet" href="~/css/styles.css"/>
    </head>
    <body>
        <div>
            <a href="/home">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>
        <h1>Home Page</h1>
        <img src="~/images/unnamed.jpg" alt="profile">
        <h3>Here lies: Henry Vu</h3>
        <h4>Bio:</h4>
        <p>Henry is an outstanding young man learning about coding and the wonders of the world. he is adamant about changing the world and making a huge difference by promoting a high quality of life and for each individual to be the best version of themselves</p>
        
    </body>
</html>